<a href="https://colab.research.google.com/github/sirisha5e1/rajavathsirisha/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
type(10)

int

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
a+b+c

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
name="shirisha Bai"
type(name)

str

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=12
b=6
print("addition:",a+b)
print("subtraction:",a-b)
print("multiplication:",a*b)
print("division:",a/b)

addition: 18
subtraction: 6
multiplication: 72
division: 2.0

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the resluts.
s ="123"
integer_value = int(s)
print("integer value:","123")
print("float value:",123)

integer value: 123
float value: 123

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
input_string = input("HELLO WORLD")
print("swetha")

HELLO WORLD
swetha

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
input_string = input("bhavani")
print(" lenght of a string:",len("420"))

bhavani
 lenght of a string: 3

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
input_string = input("meghana")
print("non-alphabet:",("meghana420"))

meghana
non-alphabet: meghana420

In [ ]:

# Write a Python program to concatenate two strings. (User input for the strings)
x = "Artificial Intelligence & "
y = "Machine learning"
z = x + y
print(z)

Artificial Intelligence & Machine learning

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
s= "stringabc"
print("index is:",s.index("a"))
print("index is:",s.index("b"))

index is: 6
index is: 7

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
name="Rishi"
print("uppercase is:",name.upper())
print("lowercase is:",name.lower())

uppercase is: RISHI
lowercase is: rishi

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
name="Jawaharlal Nehru Technological University, Hyderabad"
count=name.count('a')
print(count)

7

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
name=input("enter your name:")
print('hello, good morning'),name

enter your name:hemanth
hello, good morning

(None, 'hemanth')

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
a=input("enter a:")
b=input("enter b:")
sum=int(a)+int(b)
print("the sum is:", sum)

enter a:89
enter b:99
the sum is: 188

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
Name=print("sirisha bai")
Age=print("20")

sirisha bai
20

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 10
Positive number

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
#Python program to find the largest
# number among the three numbers

def maximum(a, b, c):

    if (a >= b) and (a >= c):
        largest = a

    elif (b >= a) and (b >= c):
        largest = b
    else:
        largest = c

    return largest


# Driven code
a = 10
b = 14
c = 12
print(max(b, c))

14

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
import calendar
year = int(input("Enter a year:"))
if calendar.isleap(year):
  print(f"{year} is a leap year.")
else :
  print(f" {year} is not a leap year.")

Enter a year:2005
 2005 is not a leap year.

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
lower = int(input("Enter lower range limit:"))
upper = int(input("Enter upper range limit:"))
for i in range(lower, upper+1):
   if ((i%3==0) and (i%5==0)):
        print(i)

Enter lower range limit:0
Enter upper range limit:99
0
15
30
45
60
75
90

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
string = input("Enter  a string:")
string = string.replace("",""). lower()
if string == string[::-1]:
   print(f"'{string}' is a palindrome.")
else:
       print(f"'{string}' is not a palindrome.")

Enter  a string:Madam
'madam' is a palindrome.

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1,15):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
number = 1
while number <= 20:
    # Check if the number is even
    if number % 2 == 0:
        print(number)
    # Increment the number
    number += 1

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
number = int(input("Enter the number to generate its multiplication table: "))
print(f"\nMultiplication Table for {number}:\n")
for i in range(1, 11):
    print(f"{number} x {i} = {number * i}")

Enter the number to generate its multiplication table: 8

Multiplication Table for 8:

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n = int(input("Enter a positive integer: "))
total_sum = 0
current_number = 1
while current_number <= n:
    total_sum += current_number
    current_number += 1
print(f"The sum of all numbers from 1 to {n} is {total_sum}.")

Enter a positive integer: 9
The sum of all numbers from 1 to 9 is 45.

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
num = int(input("Enter a positive integer: "))
if num < 0:
    print("Factorial is not defined for negative numbers.")
else:
    factorial = 1
    i = 1
    while i <= num:
        factorial *= i
        i += 1
    print(f"The factorial of {num} is {factorial}.")

Enter a positive integer: -6
Factorial is not defined for negative numbers.

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n = int(input("Enter the number of terms: "))
if n <= 0:
    print("Please enter a positive integer.")
else:
     a,b = 0,1
     count = 0
     print(f"Fibonacci sequence up to {n} terms:")
while count < n:
  print(a,end="")
  nth = a + b
  a = b
  b = nth
  count += 1

Enter the number of terms: 8
Fibonacci sequence up to 8 terms:
011235813

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def find_primes_in_range(start, end):
    primes = []
    for num in range(start, end + 1):
        if is_prime(num):
            primes.append(num)
    return primes

primes = find_primes_in_range(1, 100)
print("Prime numbers from 1 to 100:")
print(primes)

Prime numbers from 1 to 100:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
import random
numbers = [random.randint(1, 100) for _ in range(20)]
print("Generated numbers:", numbers)
for number in numbers:
    if number > 50:
        print(f"Number greater than 50 found: {number}")
        break
else:
    print("No number greater than 50 found.")

Generated numbers: [1, 3, 17, 73, 11, 72, 70, 94, 8, 75, 99, 87, 59, 48, 6, 7, 90, 90, 30, 28]
Number greater than 50 found: 73

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for number in range(1, 21):
    if number % 2 == 0:
        continue
    print(number)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
string = input("Enter a string: ")
character = input("Enter a character to count its occurrences: ")
count = 0
for char in string:
    if char == character:
        count += 1

Enter a string: 5
Enter a character to count its occurrences: 7

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
number = int(input("Enter a number: "))
sum_of_digits = 0
while number > 0:
    digit = number % 10
    sum_of_digits += digit
    number //= 10

Enter a number: 678

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.
numbers = [1, 2, 3, 4, 5, 6]
sum_of_elements = sum(numbers)
print("Sum of elements:", sum_of_elements)
print(numbers)

Sum of elements: 21
[1, 2, 3, 4, 5, 6]

In [ ]:
# Write a Python program to find the largest element in a list.
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
largest_element = max(numbers)
print("Largest element:", largest_element)

Largest element: 8

In [ ]:
# Write a Python program to reverse a list.
numbers = [1, 2, 3]
reversed_list = numbers[::-1]
print("Reversed list:", reversed_list)

Reversed list: [3, 2, 1]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.
numbers = [1, 2, 3, 4, 3, 5, 3, 6]
element_to_remove = 3
numbers = [num for num in numbers if num != element_to_remove]
print("original list:",numbers)
print("list after removing all occurrence of",element_to_remove),":",numbers

original list: [1, 2, 4, 5, 6]
list after removing all occurrence of 3

(None, ':', [1, 2, 4, 5, 6])

In [ ]:
# Write a Python program to find the index of an element in a list.
numbers = [10, 20, 30, 40, 50, 60]
element_to_find = 40
index = numbers.index(element_to_find)
print("Index of",element_to_find,":",index)
print(numbers)

Index of 40 : 3
[10, 20, 30, 40, 50, 60]

In [ ]:
# Write a Python program to find if a specific element exists in a list.
numbers = [5, 10, 15, 20, 25, 30, 35]
element_to_find = 20
if element_to_find in numbers:
    print(f"The element {element_to_find} exists in the list.")

The element 20 exists in the list.

In [ ]:
# Write a Python program to remove duplicates from a list.
numbers = [1, 2, 2, 3, 4, 5, 5, 6]
unique_numbers = list(set(numbers))
print("Original list:", numbers)
print("List after removing duplicates:", unique_numbers)

Original list: [1, 2, 2, 3, 4, 5, 5, 6]
List after removing duplicates: [1, 2, 3, 4, 5, 6]

In [ ]:
# Write a Python program to count the occurrences of an element in a list.
numbers = [1, 2, 2, 3, 4, 5, 5, 6, 7, 7]
element_to_count = 3
count = numbers.count(element_to_count)
print("Original list:", numbers)
print("Number of occurrences of",element_to_count,":",count)

Original list: [1, 2, 2, 3, 4, 5, 5, 6, 7, 7]
Number of occurrences of 3 : 1

In [ ]:
# Write a Python program to get the number of even numbers in a list.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
even_count = sum(1 for num in numbers if num % 2 == 0)
print("Original list:", numbers)
print("Number of even numbers:", even_count)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Number of even numbers: 7

In [ ]:
# Write a Python program to create a tuple and print it.
my_tuple = (1, 3, 5, 7, 8, 10)
print("Tuple:", my_tuple)

Tuple: (1, 3, 5, 7, 8, 10)

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa.

my_tuple = (10, 20, 30, 40, 50)
my_list = list(my_tuple)
print("Tuple:", my_tuple)
print("Converted to list:", my_list)

my_list = [60, 70, 80, 90, 100]
my_tuple = tuple(my_list)
print("\nList:", my_list)
print("Converted to tuple:")
print(" my_tuple")

Tuple: (10, 20, 30, 40, 50)
Converted to list: [10, 20, 30, 40, 50]

List: [60, 70, 80, 90, 100]
Converted to tuple:
 my_tuple

In [ ]:
from typing import Mapping
# Write a Python program to find the maximum and minimum values in a tuple.
numbers = (35, 40, 12, 75, 19, 50, 100)
Max_value = max(numbers)
min_value = min(numbers)
print("Tuple:", numbers)
print("Maximum value:", Max_value)
print("Minimum value:", min_value)

Tuple: (35, 40, 12, 75, 19, 50, 100)
Maximum value: 100
Minimum value: 12

In [12]:
# Write a Python program to unpack a tuple into variables.
my_tuple = (100, 200, 300)
a, b, c = my_tuple
print("value of a:", a)
print("value of b:", b)
print("value of c:", c)

value of a: 100
value of b: 200
value of c: 300

In [14]:
# Write a Python program to add an element to a set and check if an element exists in the set.
my_set = {1, 2, 3, 4, 5, 6, 7}
my_set.add(8)
print("set after adding an element:", my_set)
element_to_check = 4
if element_to_check in my_set:
   print(f"{element_to_check} exists in the set.")
else:
  print(f"{element_to_check} does not exists in the set.")

set after adding an element: {1, 2, 3, 4, 5, 6, 7, 8}
4 exists in the set.

In [15]:
_# Write a Python program to create a dictionary with keys and values and print it.
my_dict = {
    "Name": "Alice",
    "Age": 25,
    "City": "New York",
    "Profession": "Engineer"
}
print("Dictionary:", my_dict)

Dictionary: {'Name': 'Alice', 'Age': 25, 'City': 'New York', 'Profession': 'Engineer'}

In [19]:
# Write a Python program to access a dictionary value using a key.
my_dict = {
    "Name": "Trisha",
    "Age": 19,
    "City": "Hyderabad",
    "Profession": "Dancer"
}
key_to_access = "City"
value = my_dict.get(key_to_access)
if value:
    print(f"The value for the key '{key_to_access}' is: {value}")
else:
    print(f"The key '{key_to_access}' does not exist in the dictionary.")

The value for the key 'City' is: Hyderabad

In [23]:
# Write a Python program to check if a key exists in a dictionary.
my_dict = {
    "Name": "TRISHUSHA",
    "Age": 21,
    "City": "USA",
    "Profession": "MBA"
}
key_to_check = "Age"

if key_to_check in my_dict:
    print(f"The key '{key_to_check}' exists in the dictionary.")
else:
    print(f"The key '{key_to_check}' does not exist in the dictionary.")

The key 'Age' exists in the dictionary.

In [2]:
# Write a Python program to merge two dictionaries.

dict1 = {"Name": "Ramya", "Age": 25}
dict2 = {"City": "Mumbai", "Profession": "Engineer"}
merged_dict = dict1.copy()
merged_dict.update(dict2)
print("Merged Dictionary (Method 1):", merged_dict)
merged_dict_alt = {**dict1, **dict2}
print("Merged Dictionary (Method 2):", merged_dict_alt)

Merged Dictionary (Method 1): {'Name': 'Ramya', 'Age': 25, 'City': 'Mumbai', 'Profession': 'Engineer'}
Merged Dictionary (Method 2): {'Name': 'Ramya', 'Age': 25, 'City': 'Mumbai', 'Profession': 'Engineer'}

In [6]:
# Write a Python program to remove a key from a dictionary.
my_dict = {
    "Name": "Saraswathi",
    "Age": 42,
    "City": "kerala",
    "Profession": "Engineer"
}
key_to_remove = "City"
if key_to_remove in my_dict:
    removed_value = my_dict.pop(key_to_remove)
    print(f"Key '{key_to_remove}' with value '{removed_value}' was removed.")
else:
    print(f"Key '{key_to_remove}' does not exist.")
print("Updated Dictionary:", my_dict)

Key 'City' with value 'kerala' was removed.
Updated Dictionary: {'Name': 'Saraswathi', 'Age': 42, 'Profession': 'Engineer'}

In [7]:
# Write a Python program to get the number of keys in a dictionary.
my_dict = {
    "Name": "Ammulu",
    "Age": 25,
    "City": "chennai",
    "Profession": "Engineer"
}
num_keys = len(my_dict)
print(f"The number of keys in the dictionary is: {num_keys}")

The number of keys in the dictionary is: 4

In [10]:
# Write a Python program to find the largest and smallest values in a dictionary.
my_dict = {
    "a": 100,
    "b": 65,
    "c": 35,
    "d": 55
}
largest_value = max(my_dict.values())
smallest_value = min(my_dict.values())
print("Dictionary:", my_dict)
print("Largest value:", largest_value)
print("Smallest value:", smallest_value)

Dictionary: {'a': 100, 'b': 65, 'c': 35, 'd': 55}
Largest value: 100
Smallest value: 35

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [12]:
# Write a Python function that returns the square of a number.
def square(num):
    return num ** 2
number = 7
result = square(number)
print(f"The square of {number} is: {result}")

The square of 7 is: 49

In [16]:
# Write a Python function that accepts two parameters and returns their sum.
def add_numbers(a, b):
    return a + b
num1 = 6
num2 = 16
result = add_numbers(num1, num2)
print(f"The sum of {num1} and {num2} is: {result}")

The sum of 6 and 16 is: 22

In [24]:
# Write a Python function to check if a given number is prime.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
number = 7
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

7 is a prime number.

In [26]:
# Write a Python function to calculate the factorial of a number using recursion.
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
number = 62
result = factorial(number)
print(f"The factorial of {number} is: {result}")

The factorial of 62 is: 31469973260387937525653122354950764088012280797258232192163168247821107200000000000000

In [28]:
# Write a Python function to calculate the power of a number using recursion.
def power(base, exponent):
    if exponent == 0:
        return 1
    elif exponent < 0:
        return 1 / power(base, -exponent)
    else:
        return base * power(base, exponent - 1)
base = 18
exponent = 9
result = power(base, exponent)
print(f"{base} to the power of {exponent} is: {result}")

18 to the power of 9 is: 198359290368

In [30]:
# Write a Python function to accept a list and return its length without using the built-in len() function.
def custom_length(lst):
    count = 0
    for _ in lst:
        count += 1
    return count
my_list = [1, 2, 3, 4, 5, 6, 7]
result = custom_length(my_list)
print(f"The length of the list is: {result}")

The length of the list is: 7

In [32]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.
def sum_positional(*args, **kwargs):
    total = sum(args)
    print(f"The sum of the positional arguments is: {total}")
sum_positional(1, 2, 3, 4, 5, name="Akkila", age=25)

The sum of the positional arguments is: 15

In [33]:
# Write a Python function to find the maximum of two numbers using keyword arguments.
def find_maximum(**kwargs):
    num1 = kwargs.get('num1')
    num2 = kwargs.get('num2')
    if num1 is None or num2 is None:
        return "Please provide both 'num1' and 'num2' as keyword arguments."
    return max(num1, num2)
result = find_maximum(num1=108, num2=420)
print(f"The maximum of the two numbers is: {result}")

The maximum of the two numbers is: 420

In [35]:
# Write a Python function that accepts a list of numbers and returns their product.
def calculate_product(numbers):
    product = 1
    for num in numbers:
        product *= num
    return
    product
numbers_list = [1, 2, 3, 4, 5, 6]
result = calculate_product(numbers_list)
print(f"The product of the numbers is: {result}")

The product of the numbers is: None

In [38]:
# Write a Python function to check if a number is even or odd using the modulo operator.
def check_even_odd(number):
    if number % 2 == 0:
        return f"{number} is even."
    else:
        return f"{number} is odd."

result = check_even_odd(14)
print(result)

result = check_even_odd(99)
print(result)

14 is even.
99 is odd.

In [40]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.
squares = [x ** 2 for x in range(1, 33)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024]

In [42]:
# Write a Python program to filter out all even numbers from a list using list comprehension.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14]

In [44]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.
words = ["devops", "computer networks", "skill development", "java", "maths", "history", "aiml"]
long_words = [word for word in words if len(word) > 4]
print(long_words)

['devops', 'computer networks', 'skill development', 'maths', 'history']

In [47]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.
def get_uppercase_letters(input_string):
    uppercase_letters = [char for char in input_string if char.isupper()]
    return uppercase_letters

input_string = "Hello World! Hello is the Same as Hello."
result = get_uppercase_letters(input_string)
print("Uppercase letters in the string:", result)

Uppercase letters in the string: ['H', 'W', 'H', 'S', 'H']

In [50]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.
def fibonacci_numbers(n):
    fib = [0, 1]
    [fib.append(fib[-1] + fib[-2]) for _ in range(2, n)]
    return fib[:n]
n = 15
result = fibonacci_numbers(n)
print(f"The first {n} Fibonacci numbers are: {result}")

The first 15 Fibonacci numbers are: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [52]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.
def create_square_dict(n):
    square_dict = {x: x**2 for x in range(1, n+1)}
    return square_dict
n = 5
result = create_square_dict(n)
print(f"Dictionary of numbers and their squares up to {n}: {result}")

Dictionary of numbers and their squares up to 5: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [54]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.
keys = ["a", "b", "c", "d"]
values = [2, 4, 6, 8]
result = {key: value for key, value in zip(keys, values)}
print(result)

{'a': 2, 'b': 4, 'c': 6, 'd': 8}

In [55]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.
def create_cube_dict():
    cube_dict = {x: x**3 for x in range(1, 6)}
    return cube_dict
result = create_cube_dict()
print(f"Dictionary of numbers and their cubes: {result}")

Dictionary of numbers and their cubes: {1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [57]:
# Write a Python program to square each element of a list using the map() function.
def square_elements(input_list):
    return list(map(lambda x: x**2, input_list))
input_list = [1, 2, 3, 4, 5, 6, 7]
result = square_elements(input_list)
print(f"Squared elements of the list: {result}")

Squared elements of the list: [1, 4, 9, 16, 25, 36, 49]

In [59]:
# Write a Python program to filter all even numbers from a list using the filter() function.
def filter_even_numbers(input_list):
    return list(filter(lambda x: x % 2 == 0, input_list))

input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
result = filter_even_numbers(input_list)
print(f"Even numbers from the list: {result}")

Even numbers from the list: [2, 4, 6, 8, 10, 12, 14]

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

**Note:**
- All assignments must follow [PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`